
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    /**
    color: var(--eco-brown);
    r6t7uyioil';6t78o**/
}

body, .nav-tabs .nav-link.active {
    color: #004687;
}

.blog_item {
    border: solid 1px #f5f2f2;
}

.services-area {
    padding-top: 150px;
}

.section-padding2 {
    padding-top: 50px;
}


.red-button {
    background-color: #d03c32;
}

.purple-button, .form-contact .purple-button {
    background-color: #8f1bdc;
}

.blue-button, .form-contact .blue-button {
    background-color: #004687;
}

.grey-button {
    background-color: #808080;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
}



.red-button, .purple-button, .blue-button {
    color: #fff;
    /*background-color: #C746D4;*/
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 3px;
    border-radius: 3px;
}

    .purple-button:hover {
        background-color: #C746D4;
    }

    .red-button:hover {
        background-color: #fa6c5d;
    }

.purple-bg {
    /*
            background-color: #8f1bdc;
        */
    background-image: -moz-linear-gradient(90deg, #e78ae9 0%, #926ef8 100%);
    background-image: -webkit-linear-gradient( 90deg, #e78ae9 0%, #926ef8 100%);
    background-image: -ms-linear-gradient(90deg, #e78ae9 0%, #926ef8 100%);
}

    .purple-bg h5 button, .heading-button {
        background-color: transparent !important;
        border: none;
    }


.hideshow-rename-section-button {
    float: right;
    width: 20px;
    height: 20px;
    border: none;
    vertical-align: middle;
    margin-left: 5px;
}


.slider-height {
    min-height: 700px;
}

.cv-section-card-header {
    padding: 7px 15px 7px 10px;
    /*    background-color: #8f1bdc;*/
}

    .cv-section-card-header h5 button, h2 button {
        color: #333;
        border: none;
        background-color: transparent;
    }

#cv-options-accordion .card,
#cv-sections-accordion .card {
    background-color: transparent;
    margin-bottom: 10px;
}

a i, button i.fa {
    margin-right: 7px;
}

/*.heading-button {
    background-color: transparent !important;
    border: none;
}
*/
.login-tab {
    border: none;
}

    .login-tab li:first-of-type {
        margin-left: 7px;
    }

.blog_right_sidebar .single_sidebar_widget {
    padding: 15px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.0rem;
}


.hover-icon:hover {
    color: #C746D4;
}


.toggle-content {
    display: none;
}

    .toggle-content.is-visible {
        display: block;
    }

.section-list-item-container {
    display: inline-block;
    border: solid 1px #8f1bdc;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    /*white-space: nowrap;*/
}


.section-list-item {
    color: #333;
}

    .section-list-item:hover {
        color: #fff;
        background-color: #8f1bdc;
    }

/*.section-list-item-delete {
    color: #ff0000;
    padding:5px;
    margin-left:10px;
}*/

.section-list-item-delete {
    color: #fff;
    /* padding: 5px; */
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 10px;
    background-color: #d03c32;
    border-radius: 3px;
}

    .section-list-item-delete:hover {
        background-color: #fa6c5d;
    }



.highlite-card {
    border-color: #C746D4;
}


.nice-select {
    width: 100%;
}

hr.menu-item-seperator {
    margin: 10px 0;
}

.delete-icon {
    background-image: url(/assets/img/shape/form_icon_bin.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.save-icon {
    background-image: url(/assets/img/shape/form_icon_save.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.edit-icon {
    background-image: url(/assets/img/shape/form_icon_edit.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.normal-text {
    color: #333;
}

.red-text {
    color: #d03c32;
}

.purple-text, .hyperlink {
    color: #C746D4;
}


.cv-photo {
    width: 170px;
    height: 170px;
    border: solid 1px #ccc;
    padding: 3px;
    border-radius: 7px;
}


.alert-info {
    background-color: #f4feff;
}

.copy-to-cv-row,
.alert-cvsafe {
    color: #155724;
    background-color: #fbf6fd;
    border-color: #c3e6cb;
}

.table-condensed tr td {
    padding: 4px 5px 4px 5px;
}


.del-col {
    padding: 0px;
}

.genric-btn.delete {    
    color: #fff;
    background: #FF6A14;
    border: 1px solid transparent;
    padding: 0 10px;
}


#tableResults {
    font-size: 13px;
}

.row_Ex {
    color: #07972c;
}

.row_G {
    color: #b5ab07;
}

.row_M {
    /*color: #f77607;*/
    color: #f9b02b;
}

.row_P {
    color: #f91303;
}

.href {
    color: #004687;
    text-decoration: underline;
}

    .href:hover {
        color: #f44a40;
        text-decoration: underline;
    }
    
