.bttn-wptbls {
	color:#ffffff !important;
	background-color: #0077cf;
	padding: 8px 16px;
	margin: 0 auto;
}
.bttn-wptbls: hover {
	background-color: #00376D;
}
.wpdt-cell {
	text-align:center !important;
}
.thumbnail {
	display:none;
}
.search .elementor-post__thumbnail__link i, .archive .elementor-post__thumbnail__link i {
	font-size: calc(1.5vw + 1.5vh + 1.5vmin);
	padding: 0 25%;
}

.el-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.el-tooltip .el-tooltiptext {
  visibility: hidden;
  text-transform: uppercase;
  width: 200px;
  background-color: #FF6A14;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.el-tooltip .el-tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #FF6A14 transparent transparent transparent;
}

.el-tooltip:hover .el-tooltiptext {
  visibility: visible;
  opacity: 1;
}
.elementor-icon-box-description span:last-child em {
  display: none;
}

#docs-downloads ul li small {
  position: absolute;
  right = 0;
}
