.bttn-wptbls {
	color:#ffffff !important;
	background-color: #0077cf;
	padding: 8px 16px;
	margin: 0 auto;
}
.bttn-wptbls: hover {
	background-color: #00376D;
}
.wpdt-cell {
	text-align:center !important;
}
.thumbnail {
	display:none;
}
.search .elementor-post__thumbnail__link i, .archive .elementor-post__thumbnail__link i {
	font-size: calc(1.25vw + 1.25vh + 1.25vmin);
	padding: calc(0.5vw + 0.5vh + 0.5vmin);
	border: 3px solid #0077cf;
	border-radius: 50%;
	background-color:#fff;
}
.search .elementor-post__thumbnail__link:hover i, .archive .elementor-post__thumbnail__link:hover i {
	border: 3px solid #FF6A14;
}
.el-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.el-tooltip .el-tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.el-tooltip .el-tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.el-tooltip:hover .el-tooltiptext {
  visibility: visible;
  opacity: 1;
}
